<h1>Blackjack!</h1>

<p>Welcome <%= session[:player_name] %>.</p>

<div class="well">
    <h4>Dealer's cards:</h4>
    <% session[:dealer_cards].each do |card| %>
	<%= card_image(card) %>
    <% end %>

    <% if @show_dealer_hit_button %>
	<p>
	    <h5>Dealer has <%= calculate_total(session[:dealer_cards])%> and will hit.</h5>
	    <form action="/game/dealer/hit" method="POST">
	    <input class ="btn btn-primary" type="submit" value="Click to see see dealer's card &rarr;"></input>	</form>
	</p>
    <% end %>
</div>

<br />

<div class="well">
    <h4>Player's cards:</h4>
    <% session[:player_cards].each do |card| %>
	<%= card_image(card) %>
    <% end %>
</div>

<p>
    What would you like to do, <%= session[:player_name] %>?
    You have a total of <%= calculate_total(session[:player_cards]) %>

    <% if @show_hit_or_stand_buttons %>
	<form id="hit_form" action="/game/player/hit" method="POST">
	    <input class="btn btn-success btn-large" type="submit" name="Hit" value="Hit"></input>
	</form>

	<form id="stand_form" action="/game/player/stand" method="POST">
	    <input class="btn btn-warning btn-large" type="submit" name="Stand" value="Stand"></input>
	</form>
    <% end %>
</p>
